<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    // Cargando Boostrap desde su CDN
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css')
    
    //Vinculando el CSS estatico del proyecto
    link(rel="stylesheet", href="/css/style.css")

  body
    block contenido