extends ../layout/index

block contenido
  main.container.mt-5
    .row
      .col-md-5
        img(src="img/nosotros.jpg", alt="Imagen de nosotros" class="img-fluid")
      .col-md-7
        h1 #{pagina}
        blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quam felis, sollicitudin eu mauris vel, interdum lobortis risus. Aliquam nibh leo, volutpat pharetra pretium at, eleifend nec mi. Sed a eros aliquet, consequat erat eu, scelerisque nisi. Maecenas accumsan ligula auctor auctor sodales. Morbi at leo tellus. Suspendisse ac augue blandit, tincidunt massa eu, egestas lorem. Phasellus eget ultrices est, vitae efficitur leo. Sed faucibus fermentum condimentum. Sed ac justo pretium turpis cursus ullamcorper non eget diam. Duis euismod faucibus nunc, eget egestas turpis blandit ut. Aenean sit amet lorem nulla. Ut vitae ornare leo. Sed et elementum massa.
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quam felis, sollicitudin eu mauris vel, interdum lobortis risus. Aliquam nibh leo, volutpat pharetra pretium at, eleifend nec mi. Sed a eros aliquet, consequat erat eu, scelerisque nisi. Maecenas accumsan ligula auctor auctor sodales. Morbi at leo tellus. Suspendisse ac augue blandit, tincidunt massa eu, egestas lorem. Phasellus eget ultrices est, vitae efficitur leo. Sed faucibus fermentum condimentum. Sed ac justo pretium turpis cursus ullamcorper non eget diam. Duis euismod faucibus nunc, eget egestas turpis blandit ut. Aenean sit amet lorem nulla. Ut vitae ornare leo. Sed et elementum massa.
  .listado-iconos
    .container.mt-5.py-5.text-center
      .row
        .col-md-4
          img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
          h2.mb-4 Seguridad
          p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut laboriosam similique maxime. Eaque excepturi     
        .col-md-4
          img(src="img/icono_destinos.svg", class="img-fluid mb-4")
          h2.mb-4 Mejores Destinos
          p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut laboriosam similique maxime. Eaque excepturi
        .col-md-4
          img(src="img/icono_precios.svg", class="img-fluid mb-4")
          h2.mb-4 Mejores Precios
          p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut laboriosam similique maxime. Eaque excepturi  