extends ../layout/index

block slider
  .slider
    h1 Rio de Janeiro
    em aventura

block contenido    
  main.container.mt-5
    h2.text-center.mb-5 Sobre Nosotros
    .row.mb-5
      .col-md-6
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quam felis, sollicitudin eu mauris vel, interdum lobortis risus. Aliquam nibh leo, volutpat pharetra pretium at, eleifend nec mi. Sed a eros aliquet, consequat erat eu, scelerisque nisi. Maecenas accumsan ligula auctor auctor sodales. Morbi at leo tellus. Suspendisse ac augue blandit, tincidunt massa eu, egestas lorem. Phasellus eget ultrices est, vitae efficitur leo. Sed faucibus fermentum condimentum. Sed ac justo

        p Maecenas accumsan ligula auctor auctor sodales. Morbi at leo tellus. Suspendisse ac augue blandit, tincidunt massa eu, egestas lorem. Phasellus eget ultrices est, vitae efficitur leo. Sed faucibus fermentum condimentum. Sed ac justo
      .col-md-6
        img(src="/img/inicio_nosotros.jpg", alt="img-fluid")
  
  include ../layout/partials/viajes

  .descuento
    .container
      .row
        .col-md-6
          .contenido
            h3 5% de Descuento
            p.titulo Viaje a Canada
            p.fecha 20 de Junio 2020 - 28 de Junio del 2020
            p.precio $ 20000 
  .container
    include ../layout/partials/testimoniales          
  
